<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitcoin Prices</title>
    <link rel="icon" type="image/x-icon" href="/images/bitcoin.gif" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Bitcoin Price App</h1>
    <form>
      <input type="radio" name="bitcoinPrice" checked value="USD" />
      <label for="html">USD</label><br />
      <input type="radio" name="bitcoinPrice" value="GBP" />
      <label for="css">GBP</label><br />
      <input type="radio" name="bitcoinPrice" value="EUR" />
      <label for="javascript">EUR</label>
      <button type="submit">Get Price</button>
    </form>

    <h3>The Current Price of Bitcoin in <%=code%></h3>
    <h2><%-symbol %> <%=` ${rate}` %></h2>
  </body>
</html>
