<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitcoin Prices</title>
    <link rel="icon" type="image/x-icon" href="/images/bitcoin.gif" />
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Bitcoin Price App</h1>
    <input type="radio" id="html" name="fav_language" value="HTML" />
    <label for="html">USD</label><br />
    <input type="radio" id="css" name="fav_language" value="CSS" />
    <label for="css">GBP</label><br />
    <input
      type="radio"
      id="javascript"
      name="fav_language"
      value="JavaScript"
    />
    <label for="javascript">EUR</label>
    <form action="/getimage" method="get">
      <button type="submit">Get Price</button>
    </form>
  </body>
</html>
